---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Blogpost from "../components/Blogpost.astro";
import '../styles/global.css'
//Obtener todos los posts
const allPosts = await Astro.glob('../pages/posts/*.md');

const title = 'Astro | Blog'

const happy = true;
const finished = false;
const goal = 3;
---

<Layout title = {title}>
    <Header/>
    <h1>Bienvenido a {title}</h1>
    <ul>
        <!-- Aqui mostramos los elemetos que obtenemos de los posts -->
        <!-- {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
        {allPosts.map((post) => <Blogpost url={post.url} title={post.frontmatter.title} />)}
    </ul>


    <Footer/>

{happy && <p>¡Estoy feliz de aprender Astro!</p>}

{finished && <p>¡He terminado este tutorial!</p>}

{goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}

</Layout>